<h1> Show page</h1>

<img src= <%=pokeInfo.sprites.other["official-artwork"].front_default%>>
Name: <%=pokeInfo.name%>
Height: <%=pokeInfo.height%> 
Type: <%pokeInfo.types.forEach(type=>{ %>
    <%= type.type.name%>
    <%}) %> 

    <% pokeInfo.moves.forEach(pokemon=>{ %>
         <p> <%= pokemon.move.name %></p>

<%}) %> 
